PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/portfoliodb
JWT_SECRET=change_me
CLIENT_URL=http://localhost:5173
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
EXCHANGE_RATE_BASE_URL=https://api.exchangerate-api.com/v4/latest
MARKET_UPDATE_INTERVAL_MS=15000
